.App {
  text-align: center;
}

.navbar {
  padding-top: 5px;
  padding-right: 20px;
  background: linear-gradient(to bottom, #070020, #080a27);
}

html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  background: linear-gradient(to bottom, #070020, #080a27);
}

.navbar-logo {
  margin-right: 5px;
  width: 200px;
  min-height: 109px;
}

.logo-name {
  font-family: 'heading_smallcase_pro_trialTh';
  font-size: 60px;
  color: #DADADA;
}

.navbar-links {
  font-family: 'avenir-book';
  font-size: 25px;
  color: #ffffff;
}

.hidden-links {
  display: flex;
}

.landing-page-heading {
  font-family: 'caviar_dreamsregular';
  color: #DADADA;
  font-size: 72px; 
}

.landing-page-content {
  font-family: 'avenir-book';
  font-size: 25px;
  color: #ffffff;
}

.landing-page-btn {
  color: #ffffff;
  background: #2EBD6B;
  border-color: #2EBD6B;
  min-width: 130px;
  min-height: 45px;
  border-radius: 11px;
  margin: 20px;
  font-family: 'avenir-book';
  font-size: 20px;
}

.landing-page-btn:hover{
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  color: #ffffff;
  background: transparent;
  border-color: #2EBD6B;
}

.login-logo {
  margin: 0 auto;
  min-width: 130.83px;
  max-width: 130.83px;
  display: table;
  margin-top: 20px
}

.login-box {
  background-color: #0700204d;
  box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
}

.tabs {
  font-family: 'avenir-book';
  font-size: 24px;
  color: #DADADA;
}

.tabs-login {
  float: right;
}

.tabs-signup {
  float: left;
}

.label {
  font-size: 20px;
  font-family: 'avenir-book';
  color: #DADADA;
}

.email-input, .password-input{
  color: #ffffff;
  outline: none;
  font-size: 25px;
  margin: auto;
  border: none;
  display: block;
  background: transparent;
  border-bottom: 1px solid #95989A;
  font-family: 'avenir-book';
  margin-top: 4px;
  margin-bottom: 4px;
}

.oAuth-btns {
  display: flex;
}

.oAuth-btn {
  min-height: 35px;
  min-width: 120px;
  display: table;
  margin: 0 auto;
}

.signin-btn {
  margin: 0 auto;
  display: table;
  padding: 5.5px;
  font-family: 'avenir-book';
  margin-top: 35px;
  font-size: 1.4em;
  color: #fff;
  background: #2EBD6B;
  border: 1px solid #2EBD6B;
  outline: none;
  cursor: pointer;
  width: 50%;
  -webkit-border-radius: 11px;
-moz-border-radius: 11px; 
-o-border-radius: 11px;
-ms-border-radius: 11px;
  border-radius: 11px;
}

.alt-signin {
  text-align: center;
  font-size: 1.2em;
  color: #fff;
  margin-top: -10px;
  padding: 0;
  margin-bottom: 12px;
}

.bm-burger-button {
  float: right;
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #2EBD6B;
}

.bm-cross-button {
  height: 36px;
  width: 36px;
}

.bm-cross {
  background: #2EBD6B;
}

.bm-menu {
  background: #070221;
  padding: 2.5em 2.5em 0;
  font-size: 1.15em;
}

.bm-item-list {
  color: #F1F1F1;
  padding: 0.8em;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.hm-list {
  font-family: 'avenir-book';
  font-size: 25px;
  color: #F1F1F1;
}

.hm-logout {
  color: #C20000;
  font-size: 32px;
}

.profile-nav {
  margin-right: 80px;
}

.heading-profile {
  text-align: center;
  font-family: 'avenir-book';
  font-size: 23px;
  color: #ffffff;
}

.profile-labels {
  font-family: 'avenir-book';
  font-size: 22px;
  color: #F1F1F1;
  margin: 5px;
}

.profile-inputs {
  font-family: 'avenir-book';
  font-size: 22px;
  color: #070221;
  margin: 5px;
}

.profile-submit {
  color: #F1F1F1;
  background-color: #2EBD6B;
  border-radius: 10px;
  border-color: #2EBD6B;
}

#outer-container {
  height: 100vh;
}

@media (min-width: 1024px) {
  .hidden-links {
    display: none;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@font-face {
  font-family: 'heading_smallcase_pro_trialTh';
  src: url('./fonts/heading-pro-smallcase-thin-trial-webfont.woff2') format('woff2'),
       url('./fonts/heading-pro-smallcase-thin-trial-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'avenir-book';
  src: url('./fonts/avenir-book.woff2') format('woff2'),
       url('./fonts/avenir-book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'caviar_dreamsregular';
  src: url('./fonts/caviardreams-webfont.woff2') format('woff2'),
       url('./fonts/caviardreams-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}